*{
    box-sizing: border-box;
}


/* GENERAL */

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height:1.5;
    overflow-x: hidden;
}

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
}

#grey-theme{
    background-color: #f2f2f2;
}

ul.nav{
    margin: auto;
    padding: 0;
}

ul.nav li{
    padding-top: 15%;
}

.left-panel{
    position: fixed;
    width: 20%;
    max-width: 20%;
    display: inline-block;
    background-color: white;
    top:0;
    left:0;
    text-align: center;
    z-index: 2;
}

.left-panel a{
    color: #555252;
    text-decoration: none;
}

.left-panel a:hover{
    color: #A35942;
}

.left-panel .current a{
    color: #A35942;
}

.left-panel #branding{
    padding-top: 8%;
}

#branding img{
    width: 80%;
    max-width: 215px;
}

.panel-contact{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
}

ul.contact{
    margin: auto;
    padding: 0 0 10% 0;
}

.panel-contact a{
    font-size: .8rem;
    color: black;
}

li.special{
    font-size: .8rem;
    list-style: none;
}

li.dot{
    margin-left: 55%;
}

/* HOME */

.video-wrapper{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

.video-wrapper video{
    min-height: 100%;
    min-width: 100%;
}

/* PROJECTS */

.projects-wrapper{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100vh;
}

.projects{
    width: 100%;
    padding-left: 9%;
    padding-right: 5%;
    margin-top: 10%;
    display: inline-block;
    background-color: white;
}

.projects img{
    width: 70%;
    margin-top: 10%;
}

.left-column{
    width: 39%;
    float: left;
    vertical-align: baseline;
    margin: auto;
}

.left-column h3{
    font-size: 15pt;
    letter-spacing: 5px;    /* KEARNING */
}

.left-column .tags{
    font-size: 12pt;
    font-style: italic;
}

.left-column .site{
    font-size: 12pt;
    font-style: italic;
    color: #CD9B2B;
}

.left-column .copy{
    font-size: 12pt;
    color: #8f8f8f;
}

.right-column{
    width: 50%;
    float: right;
    position: relative;
    vertical-align: baseline;
}

#slider, .slide-content{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.slide, .fondre, .papercrown, .calomiris, .ee, .madison, .navy{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.slide-content{
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: -30px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left, #arrow2-left, #arrow3-left, #arrow4-left, #arrow5-left, #arrow6-left, #arrow7-left{
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left:0;
    margin-left: 15px;
}

#arrow-right, #arrow2-right, #arrow3-right, #arrow4-right, #arrow5-right, #arrow6-right, #arrow7-right{
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    right:0;
    margin-right: 15px;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}


/* CONTACT PAGE */
.contact-wrapper{
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 33%;
    max-width: 1170px;
}

.contact-wrapper form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-wrapper form .full{
    grid-column: 1 / 3;
}

.contact-wrapper form p{
    margin: 0;
}

.contact-wrapper form button, .contact-wrapper form input, .contact-wrapper form textarea{
    width: 100%;
}

.contact-wrapper form button{
    color: #CD9B2B;
    border: 0;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.contact-wrapper input, .contact-wrapper textarea, .contact-wrapper button{
    border: 0;
    border-bottom: 1px solid black;
    outline: none !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-wrapper input{
    padding: 8px;
    padding-top: 15px;
}

.contact-wrapper textarea{
    padding-top: 15px;
    padding-left: 8px;
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: #8f8f8f;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    overflow: hidden;
  }

/* PHOTO GALLERY */
.photo-wrapper{
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 20%;
    width: 80%;
    height: 100vh;
    max-width: 1170px;
}

.gallery{
    margin: 10px 0px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 250px;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* ABOUT */

.about-wrapper{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100vh;
}

.left-about{
    width: 40%;
    padding-left: 12%;
    padding-right: 3%;
    float: left;
    vertical-align: baseline;
    margin: auto;
}

.left-about h1{
    text-transform: uppercase;
    color: #b24837;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.left-about h2{
    -webkit-animation: 4s ease-in-out 0s normal forwards 1 fadein2;
    animation: 4s ease-in-out 0s normal forwards 1 fadein2; /* (duration) (timing-function) (animation-delay) (direction) (animation iteration count)*/
}

@keyframes fadein2 {
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein2 {
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein2 {
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}

/* Internet Explorer */
@-ms-keyframes fadein2 {
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein2 {
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}

.right-about{
    width: 60%;
    float: right;
    position: relative;
}

.right-about img{
    width: 100%;
}

.left-about p{
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.left-about .small-paragraph{
    font-size: 12px;
}

/* HIDDEN FOR MOBILE */

.mobile-nav{
    display: none;
}

.mobile-logo{
    display: none;
}


label{
    margin: 0 25px 0 0;
    font-size: 40px;
    line-height: 70px;
    display: none;
    float: right;
}

#toggle{
    display: none;
}



@media(max-width:768px){

    /* GENERAL MOBILE FUNCTIONALITY AND NAV */

    .left-panel{
        width: 0%;
    }

    nav, .panel-contact{
        display: none;
    }

    #branding img{
        display: none;
    }

    .mobile-logo{
        display: block;
        width: 100%;
        padding: 50% 15% 0 15%;
    }

    .mobile-menu-icon{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .mobile-nav{
        text-align: center;
        margin: 0 30px 0 0;
        width: 100%;
        display: none;
    }

    .mobile-nav a{
        display: block;
        text-decoration: none;
        color: black;
        margin: 0 10px;
        line-height: 70px;
    }

    label{
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .mobile-nav{
        display: block;
        /* background-color: rgba(255,255,255, .75); */
        background-color: white;
        height: 100%;
        padding-top: 25%;
        font-size: 20px;
    }

    #toggle:checked + .about-wrapper{

    }

    /* HOME */

    .video-wrapper{
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        left: 0;
    }

    .home-body{
        background: #CD9B2B;
    }

    .video-wrapper video{
        display: none;
    }

    /* PROJECTS */

    .projects-wrapper{
        padding-top: 70px;
        width: 100%;
        left: 0;
    }

    .projects{
        display: block;
        margin: none;
    }

    .left-column{
        float: none;
        padding-left: 0;
    }

    .right-column{
        float: none;
        width: 100%;
    }


    /* PHOTO */

    .photo-wrapper{
        width: 100%;
        left: 0;
    }

    /* ABOUT */

    .about-wrapper{
        padding-top: 70px;
        width: 100%;
        left: 0;
    }

    .left-about{
        padding-left: 10px;
    }

    /* CONTACT */

    .contact-wrapper{
        width: 90%;
        left: 0;
        height: auto;
        padding-left: 8%;
    }

}

    /* PROJECT PHOTOS */

    /* 740 pics */
    .slide1{
        background-image: url('media/740/740-1.jpg');
    }
    
    .slide2{
        background-image: url('media/740/740-2.jpg');
    }
    
    .slide3{
        background-image: url('media/740/740-3.jpg');
    }
    
    .slide4{
        background-image: url('media/740/740-4.jpg');
    }
    
    .slide5{
        background-image: url('media/740/740-5.jpg');
    }
    
    .slide6{
        background-image: url('media/740/740-6.jpg');
    }
    
    .slide7{
        background-image: url('media/740/740-7.jpg');
    }
    
    .slide8{
        background-image: url('media/740/740-8.jpg');
    }
    
    
    /* Fondre pics */
    .fondre1{
        background-image: url('media/Fondre/Fondre1.jpg');
    }
    
    .fondre2{
        background-image: url('media/Fondre/Fondre2.jpg');
    }
    
    .fondre3{
        background-image: url('media/Fondre/Fondre3.jpg');
    }
    
    .fondre4{
        background-image: url('media/Fondre/Fondre4.jpg');
    }
    
    .fondre5{
        background-image: url('media/Fondre/Fondre5.jpg');
    }
    
    .fondre6{
        background-image: url('media/Fondre/Fondre6.jpg');
    }
    
    .fondre7{
        background-image: url('media/Fondre/Fondre7.jpg');
    }
    
    .fondre8{
        background-image: url('media/Fondre/Fondre8.jpg');
    }
    
    .fondre9{
        background-image: url('media/Fondre/Fondre9.jpg');
    }
    
    
    /* Papercrown */
    .papercrown1{
        background-image: url('media/PaperCrown/pc1.jpg');
    }
    
    .papercrown2{
        background-image: url('media/PaperCrown/pc2.jpg');
    }
    
    .papercrown3{
        background-image: url('media/PaperCrown/pc3.jpg');
    }
    
    .papercrown4{
        background-image: url('media/PaperCrown/pc4.jpg');
    }
    
    .papercrown5{
        background-image: url('media/PaperCrown/pc5.jpg');
    }
    
    .papercrown6{
        background-image: url('media/PaperCrown/pc6.jpg');
    }
    
    .papercrown7{
        background-image: url('media/PaperCrown/pc7.jpg');
    }
    
    
    
    /* CALOMIRIS PHOTOS */
    
    .calomiris1{
        background-image: url('media/Calomiris/calomiris1.jpg');
    }
    
    .calomiris2{
        background-image: url('media/Calomiris/calomiris2.jpg');
    }
    
    .calomiris3{
        background-image: url('media/Calomiris/calomiris3.png');
    }
    
    .calomiris4{
        background-image: url('media/Calomiris/calomiris4.png');
    }
    
    
    
    /* Ellsworth and Ernest */
    .ee1{
        background-image: url('media/EandE/ee1.jpg');
    }
    
    .ee2{
        background-image: url('media/EandE/ee2.jpg');
    }
    
    .ee3{
        background-image: url('media/EandE/ee3.jpg');
    }
    
    .ee4{
        background-image: url('media/EandE/ee4.jpg');
    }
    
    .ee5{
        background-image: url('media/EandE/ee5.jpg');
    }
    
    
    
    /* Madison */
    .madison1{
        background-image: url('media/Madison/madison1.jpg');
    }
    
    .madison2{
        background-image: url('media/Madison/madison2.jpg');
    }
    
    .madison3{
        background-image: url('media/Madison/madison3.jpg');
    }
    
    .madison4{
        background-image: url('media/Madison/madison4.jpg');
    }
    
    .madison5{
        background-image: url('media/Madison/madison5.PNG');
    }
    
    .madison6{
        background-image: url('media/Madison/madison6.PNG');
    }
    
    .madison7{
        background-image: url('media/Madison/madison7.PNG');
    }
    
    
    /* Navy League */
    .navy1{
        background-image: url('media/NavyLeague/navy1.jpg')
    }
    
    .navy2{
        background-image: url('media/NavyLeague/navy2.jpg')
    }
    
    .navy3{
        background-image: url('media/NavyLeague/navy3.jpg')
    }
    
    .navy4{
        background-image: url('media/NavyLeague/navy4.jpg')
    }
    
    .navy5{
        background-image: url('media/NavyLeague/navy5.jpg')
    }
    