/* GENERAL */
p{
  font-family: Helvetica, Proxima Nova;
}

body{
  font-family: Helvetica, 'BebasNeue';
  background-color: white;
}

@font-face {
  font-family: 'BebasNeue';
  src:  url('homeFiles/files/BebasNeue.woff2') format('woff2'),
        url('homeFiles/files/BebasNeue.woff') format('woff')
  format('svg');
  font-weight: normal;
}
/* ========== */

/* HOME PAGE */
.home{
	font-family: BebasNeue, Helvetica;
  font-weight: bold;
  font-size: 15px;
  background-color: #5E5E5E;
}

.name{
  font-family: Helvetica, 'BebasNeue';
  font-weight: bold;
	font-size: 70;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10;
}

span{
	color: white;
}
/* ========== */

/* ABOUT PAGE */
.bio{
  margin-top: 15%;
  margin-left: 10px;
}

.about{
	background-color: white;
}

.cutout{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 45%;
}
/* ========== */

/* PROJECTS PAGE */
.projects{
  margin: 20 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  text-align: center;
}

.projects > div {
  padding: 1em;
  background-color: #eee;
  border-radius: 7px;
}

ul.project_details{
  line-height: 1.33;
  text-align: left;
  padding-left: 10px;
  list-style: none;
  font-family: Helvetica, Proxima Nova;
  font-size: 16px;
}

.project_title{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.tilePic{
  object-fit: contain;
  width: 60%;
}
/* ========== */

/* CONTACT PAGE */
.contact{
  font-family: Helvetica, Proxima Nova;
  margin-top: 10%;
	text-align: center;
  font-size: 18px;
}
/* ========== */

/* NAVIGATION */
.wrapper{
  display:grid;
  grid-template-columns: 1fr 9fr;
}

nav{
	font-size: 30px;
}

ul.nav{
	width: 70%;
	margin:auto;
    padding:0;
    list-style:none;
    text-align:center;
}

.nav li{
	display:inline-block;
    margin: 0 15 0 15;
}

.nav a{
	text-decoration: none;
	text-align:center;
	margin: auto;
  color: black;
}

.nav a:hover{
	text-decoration: underline;
}

ul.topnav{
  padding-top: 15px;
  list-style:none;
  text-align: right;
}

.topnav li{
  display:inline-block;
  padding-right: 15px;
}

.topnav a{
	font-size: 18px;
	text-decoration: none;
  display: block;
  color: black;
}

.topnav a:hover{
	text-decoration: underline;
}

.logo{
	margin: 5px;
	width: 75px;
}
/* ========== */

/* ARROW CSS */
.arrow {
  box-sizing: border-box;
  height: 4vw;
  width: 4vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 6px 6px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 10px;
  border-right-width: 10px;
}

.arrowcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12%;
  height: 100px;
}

#blog {
  background: white;
  height: 100vh;
}
/* ARROW CSS */

/* ALTERNATE ABOUT PAGE CSS */
.one{
	font-family: Proxima Nova;
	position: fixed;
	color: black;
	font-size: 30px;
	top: 32%;
	left: 10%;
	text-decoration: none;
}

.two{
	font-family: Proxima Nova;
	position: fixed;
	color: black;
	font-size: 30px;
	top: 28%;
	left: 40%;
	text-decoration: none;
}

.three{
	font-family: Proxima Nova;
	position: fixed;
	color: black;
	font-size: 30px;
	top: 75%;
	left: 13%;
	text-decoration: none;
}

.four{
	font-family: Helvetica, Proxima Nova;
	position: fixed;
	color: black;
	font-size: 30px;
	top: 56%;
	left: 25%;
	text-decoration: none;
}

.hello{
	font-size: 60px;
	font-family: Helvetica, Proxima Nova;
	position: fixed;
	bottom: 28%;
	right: 35%;
}

.experience{
	margin: auto;
	width: 50%;
}
/* ========== */
